$smoky-black: #220901;
$french-puce: #621708;
$rufous: #941B0C;
$rust: #BC3908;
$bright-yellow: #F6AA1C;

.portfolio-page {
  padding-top: 2rem;
  margin: 0 5%;
  min-height: 100vh;
  display: flex;
	flex: 0 1 auto;
	flex-direction: column;
  justify-content: center;
  
 

  h1 {
    margin-top: 5%;
    font-family: 'Do Hyeon', sans-serif;
    color: $rust;
    font-size: 3rem;
    margin-bottom: 5%;
  }

  .content-grid {
    flex: auto;
  }

  .portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
  }
}