.scroll-top {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer; }
  .scroll-top .arrow {
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    color: #F6AA1C; }
    .scroll-top .arrow .material-icons {
      font-size: 300%; }
    .scroll-top .arrow .to-top {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      padding-top: 0.125rem; }
  .scroll-top .bounce {
    animation: bounce 2s infinite; }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-10px); }
  60% {
    transform: translateY(-5px); } }
  .scroll-top .hide {
    display: none; }
