$smoky-black: #220901;
$french-puce: #621708;
$rufous: #941B0C;
$rust: #BC3908;
$bright-yellow: #F6AA1C;


.scroll-top {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
  
    .arrow {
      text-align: center;
      margin: 0 auto;
      padding: 0.5rem 1rem;
      color: $bright-yellow;
      .material-icons {
          font-size: 300%;
      }
  
      .to-top {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        
        padding-top: 0.125rem;
      }
    }
    .bounce {
        animation: bounce 2s infinite;
      }
    
      @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-10px);
        }
        60% {
          transform: translateY(-5px);
        }
      }
  
    .hide {
      display: none;
    }
  }
  