.about-page {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center; }
  .about-page h1 {
    padding: 1rem 0;
    font-size: 3rem; }
  .about-page .content-grid {
    flex: auto; }
  .about-page .about-wrapper .about-content {
    font-size: 0.875rem;
    line-height: 1.5rem; }
    .about-page .about-wrapper .about-content p {
      font-weight: 300;
      padding: 0.5rem 0; }
