.about-page {
  margin: 0 5%;
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center; }
  .about-page h1 {
    margin-top: 10%;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 3rem; }
  .about-page .content-grid {
    flex: auto; }
  .about-page .about-wrapper .about-content {
    font-size: 0.875rem;
    line-height: 1.5rem; }
    .about-page .about-wrapper .about-content p {
      font-family: 'Roboto', sans-serif;
      font-weight: 300; }
