$smoky-black: #220901;
$french-puce: #621708;
$rufous: #941B0C;
$rust: #BC3908;
$bright-yellow: #F6AA1C;
.about-page {
    margin: 0 5%;
    padding-top: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
        
        margin: 5% 0;
        font-family: 'Do Hyeon', sans-serif;
        color: $rust;
        font-size: 3rem;
    }
    .about-content {
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        
        justify-content: space-around;
        
        
        
        p {
            font-family: 'Roboto', sans-serif;
            font-size: 2rem;
            font-weight: 900;
            padding: 0.5rem;
            color: $rust;
        }
    }

    

}