$smoky-black: #220901;
$french-puce: #621708;
$rufous: #941B0C;
$rust: #BC3908;
$bright-yellow: #F6AA1C;
.about-page {
    margin: 0 5%;
    padding-top: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
        
        margin: 5% 0;
        font-family: 'Do Hyeon', sans-serif;
        color: $rust;
        font-size: 3rem;
    }
    .about-content {
        
        margin: 0 auto;
        // display: flex;
        // flex-direction: column;
        padding: 2%;
        justify-content: center;
        border: 2px solid $smoky-black;
        border-radius: 20px;
        background-color: white;
        img {
            width: 50%;
            height: 50%;
            float: left;
            border: 2px solid $smoky-black;
            border-radius: 20px;
            margin-right: 2%;
            
            
        }
       
        
        
        
        p, h2 {
            font-family: 'Roboto', sans-serif;
            font-size: 2rem;
            font-weight: 900;
            padding: 0.5rem;
            color: $smoky-black;
            a {
                text-decoration: none;
                color: $bright-yellow;
                &:hover {
                    color: $rust;
                }
            }
            
        }
        p {
            color: $smoky-black;
        }
        h2 {
            color: $rufous;
        }
    }

    

}