.about-page {
  margin: 0 5%;
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .about-page h1 {
    margin: 5% 0;
    font-family: 'Do Hyeon', sans-serif;
    color: #BC3908;
    font-size: 3rem; }
  .about-page .about-content {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .about-page .about-content p {
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
      font-weight: 900;
      padding: 0.5rem;
      color: #BC3908; }
