footer {
    font-family: 'Do Hyeon', sans-serif;
    
    padding: 0.5rem;
    text-align: left;
    a {
        text-decoration: none;
        color: black;
        &:hover {
            color: red;
        }
    }
  }