
nav {
    position: fixed;
    margin-top: 2%;
    
    top: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
    .menu {
      
      display: flex;
      width: 90%;
      flex: 1;
      justify-content: flex-end;
      
      &__item {
          margin-left: 2%;
          font-family: 'Do Hyeon', sans-serif;
          font-weight: 500;
          font-size: 1.5rem;
      }
      &__item:hover {
          color: red;
          cursor: pointer;
      }
    }
    .menu-border {
        width: 90%;
        
        border: 1px solid black;
    }
  }