$smoky-black: #220901;
$french-puce: #621708;
$rufous: #941B0C;
$rust: #BC3908;
$bright-yellow: #F6AA1C;
nav {
    position: fixed;
    padding-top: 5px;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
    .menu {
      
      display: flex;
      width: 90%;
      flex: 1;
      justify-content: flex-end;
      
      &__item {
          margin-left: 2%;
          font-family: 'Do Hyeon', sans-serif;
          color: $smoky-black;
          font-weight: 500;
          font-size: 1.5rem;
      }
      &__item:hover {
          color: $rust;
          cursor: pointer;
      }
    }
    .menu-border {
        width: 90%;
        
        border: 1px solid;
        border-color: $smoky-black;
    }
  }