nav {
  position: fixed;
  padding-top: 5px;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; }
  nav .menu {
    display: flex;
    width: 90%;
    flex: 1;
    justify-content: flex-end; }
    nav .menu__item {
      margin-left: 2%;
      font-family: 'Do Hyeon', sans-serif;
      color: #220901;
      font-weight: 500;
      font-size: 1.5rem; }
    nav .menu__item:hover {
      color: #BC3908;
      cursor: pointer; }
  nav .menu-border {
    width: 90%;
    border: 1px solid;
    border-color: #220901; }
